<section>
  <nav class="menu">
    <ul>
      <img
        src="../../../../assets/img/logo.png"
        width="110"
        height="100"
        alt=""
      />
      <li><img src="" alt="" /></li>
      <li><a href="#">Venta telefónica 587 8008 O 018000 958787</a></li>
      <li><a href="#">Venta por WhatsaApp 3016334422</a></li>
      <li><a href="#">Servicio al cliente</a></li>
      <li><a href="#">Banco</a></li>
      <li><a href="#">Seguros</a></li>
      <li><a href="#">Sodimac</a></li>
      <li><a href="#">Linio</a></li>
      <li><a href="#">Create&Barrel</a></li>
    </ul>
  </nav>

  <nav class="barra">
    <li><a> </a></li>
  </nav>
</section>

<section>
  <nav class="menu2">
    <ul>
      <li><a href="#">Aliado Emprendedor</a></li>
      <li><a href="#">Horario de tiendas</a></li>
      <li><a href="#">Club novios</a></li>
      <li><a href="#">CMR puntos</a></li>
      <li><a href="#">Solicita aquí tu CMR</a></li>
      <li><a href="#">Falabella sostenible</a></li>
      <li><a href="#">Beneficios</a></li>
    </ul>
  </nav>
</section>

<section class="header">
  <div>
    <a href="https://www.falabella.com.co/falabella-co/collection/enviogratis"
      ><img src="../../../../assets/img/header.png" style="width: 100%"
    /></a>
  </div>
</section>

<section class="slider">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../../assets/img/slider1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/img/slider2.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="cards">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <img
          class="img-fluid h-100"
          src="../../../../assets/img/card1.png"
          alt="..."
        />
      </div>
      <div class="col-sm-3">
        <img
          class="img-fluid h-100"
          src="../../../../assets/img/card2.png"
          alt="..."
        />
      </div>
      <div class="col-sm-3">
        <img
          class="img-fluid h-100"
          src="../../../../assets/img/card3.png"
          alt="..."
        />
      </div>
      <div class="col-sm-3">
        <img
          class="img-fluid h-100"
          src="../../../../assets/img/card4.png"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>

<section class="cards2">
  <div class="container">
    <h1>Regalables Amor y Amistad</h1>
  </div>
  <div class="card2 row row-cols-1 row-cols-md-6">
    <div>
      <img
        src="../../../../assets/img/cardLove.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Regalables Electro</h5>
      </div>
    </div>
    <div>
      <img
        src="../../../../assets/img/cardLove2.png"
        class="card-img-top"
        alt="..."
      />
      <div>
        <h5 class="card-title">Tenis por menos de $129.990</h5>
      </div>
    </div>
    <div class="col">
      <img
        src="../../../../assets/img/cardLove3.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Accesorios</h5>
      </div>
    </div>
    <div>
      <img
        src="../../../../assets/img/cardLove4.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Moda Hombre y Mujer</h5>
      </div>
    </div>
    <div class="col">
      <img
        src="../../../../assets/img/cardLove5.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Perfumes y Belleza</h5>
      </div>
    </div>
    <div class="col">
      <img
        src="../../../../assets/img/cardLove6.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">El regalo perfecto</h5>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contenedor">
    <div class="contenedor-cards">
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../../assets/img/cartel.jpeg" alt="" />
        </div>
      </div>
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../../assets/img/cartel2.jpeg" alt="" />
        </div>
      </div>
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../../assets/img/cartel3.jpeg" alt="" />
        </div>
      </div>
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <img src="../../../../assets/img/cartel4.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="buyProducts">
  <div class="container2">
    <h1>¡Envío gratis en estos productos!🏃🏃‍♀️</h1>
  </div>
  <div class="poster row row-cols-1 row-cols-md-6 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/img/men.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LA MARTINA</h5>
          <p class="card-text">Chaqueta Hombre La Martina</p>
        </div>
        <div class="card-footer">
          <small class="price">$ 269.990</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/img/men2.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LA MARTINA</h5>
          <p class="card-text">Camiseta polo Manga corta La Martina Hombre</p>
        </div>
        <div class="card-footer">
          <small class="price">$169.990</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/img/men3.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">UNIVERSITY CLUB</h5>
          <p class="card-text">Chaqueta Hombre University Club</p>
        </div>
        <div class="card-footer">
          <small class="price">$279.990</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/img/men4.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LA MARTINA</h5>
          <p class="card-text">Sweater Hombre La Martina.</p>
        </div>
        <div class="card-footer">
          <small class="price">$139.990</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/img/girl5.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">LA MARTINA</h5>
          <p class="card-text">Chaqueta Mujer Sybilla</p>
        </div>
        <div class="card-footer">
          <small class="price">$129.990</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../../../../assets/img/girl6.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">SYBILLA</h5>
          <p class="card-text">Blazer Mujer Sybilla</p>
        </div>
        <div class="card-footer">
          <small class="price">$129.990</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="containerSkates">
  <div>
    <a href="https://www.falabella.com.co/falabella-co/collection/enviogratis"
      ><img src="../../../../assets/img/poster.jpg" style="width: 100%"
    /></a>
  </div>
</section>



  <div class="gallery-container">
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts2.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts3.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts4.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts5.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts6.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts7.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts9.png"
        alt=""
        class="gallery_img"
      />
    </div>
    <div class="gallery_item">
      <img
        src="../../../../assets/img/galleryProducts8.png"
        alt=""
        class="gallery_img"
      />
    </div>
   
  </div>


  
